<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728172618822-1e91n8s5tdoht0s3tim5dde47rm2t817.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728172618822-1e91n8s5tdoht0s3tim5dde47rm2t817</string>
	<key>API_KEY</key>
	<string>AIzaSyARipsGxP-QaeXkc6ZwQ3cyNeEVkKWABrY</string>
	<key>GCM_SENDER_ID</key>
	<string>728172618822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project</string>
	<key>PROJECT_ID</key>
	<string>newproject-783f4</string>
	<key>STORAGE_BUCKET</key>
	<string>newproject-783f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728172618822:ios:7fb41b2096a9e729e79647</string>
</dict>
</plist>