<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561533365074-66g175c0qi4hvsve7857ncetc2i5q8s8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561533365074-66g175c0qi4hvsve7857ncetc2i5q8s8</string>
	<key>API_KEY</key>
	<string>AIzaSyBF0HU8F5YWNjz4NR--a8Urfn4RaLs0llM</string>
	<key>GCM_SENDER_ID</key>
	<string>561533365074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NewsProject</string>
	<key>PROJECT_ID</key>
	<string>newsproject-a54e5</string>
	<key>STORAGE_BUCKET</key>
	<string>newsproject-a54e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561533365074:ios:84970927e22ab432c7688b</string>
</dict>
</plist>